// override
button {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
// cust
.pointer {
    cursor: pointer;
}