// override
button {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}
// cust
.pointer {
    cursor: pointer;
}
.h-align {
    display: flex;
    align-items: center;
}